* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: monospace;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button {
  display: block; 
  border: none;
  background-color: rgb(3, 77, 80);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 1;
}

/*https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity*/
body, .calculator {
  position: relative;
}
body::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: url("./images/pattern.png") repeat;
}



.calculator {
  width: 330px;
  background-color: rgb(8, 20, 34);
  padding: 20px 10px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.equal {
  grid-column: 3 / span 2;
  grid-row: 5;
  background-color: green;
  aspect-ratio: 2;
}

.operator {
  background-color: rgb(226, 106, 8);
}

.clear , .back{
  background-color: rgb(255, 71, 71);
}


/* https://stackoverflow.com/questions/218065/overflow-to-left-instead-of-right */
.display-outer {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:right;
  overflow:hidden;
  white-space: nowrap;
}

.display-inner {
  float: right;
  padding: 5px 0px 20px;
}